NODE_ENV=development

PORT=5001

ALLOWED_ORIGIN=http://localhost:3000

MYSQL_HOST=
MYSQL_PORT=4000
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=Shopsy
MYSQL_TIMEZONE=+02:00
MYSQL_POOL_MAX=10

JWT_SECRET=
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
